<div>
    <app-title></app-title>
</div>
<div class="home_container">
    
    <app-card
        gameCover="../assets/naruto.png"
        gameTitle="NARUTO X BORUTO Ultimate Ninja STORM CONNECTIONS"
        gameLabel="PS5 | PS4"
    ></app-card>
    <app-card
        gameCover="../assets/cod.png"
        gameTitle="Call of Duty®: Modern Warfare® III"
        gameLabel="PS5 | PS4"
    ></app-card>
    <app-card
        gameCover="../assets/ffvii.png"
        gameTitle="FINAL FANTASY VII REBIRTH"
        gameLabel="PS5"
    ></app-card>
    <app-card
        gameCover="../assets/sm2.png"
        gameTitle="Marvel’s Spider-Man 2"
        gameLabel="PS5"
    ></app-card>
    <app-card
        gameCover="../assets/lords.png"
        gameTitle="Lords of the Fallen"
        gameLabel="PS5"
    ></app-card>
    <app-card
        gameCover="../assets/mk.png"
        gameTitle="Mortal Kombat 1"
        gameLabel="PS5 | PS4"
    ></app-card>
    <app-card
        gameCover="../assets/fate.png"
        gameTitle="Fate/Samurai Remnant"
        gameLabel="PS5"
    ></app-card>
    <app-card
        gameCover="../assets/nhl.png"
        gameTitle="NHL 24"
        gameLabel="PS5"
    ></app-card>
</div>